<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%- include('../partial/head'); %>
  </head>
  <body>
    <div class="container" style="margin-top: 200px">
      <div class="row">
        <div class="col-md-4 mx-auto">
          <div class="card">
            <div class="card-body">
              <form id="form-login">
                <h1 class="text-center">Sign In</h1>
                <label class="my-2">Username</label>
                <input
                  type="text"
                  class="form-control"
                  name="username"
                  placeholder="Username"
                  required
                />
                <label class="my-2">Password</label>
                <input
                  type="password"
                  class="form-control"
                  name="password"
                  placeholder="********"
                  required
                />
                <div class="d-grid gap-2 mt-3 mb-4">
                  <button
                    class="btn btn-primary"
                    type="button"
                    onclick="loginHandler()"
                  >
                    Sign In
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  function loginHandler() {
    console.log("loginHandler");
    const form = document.getElementById("form-login");
    const formData = new FormData(form);
    const data = {};
    formData.forEach((value, key) => {
      data[key] = value;
    });
    console.log(data, "data");
    fetch("/loginPost", {
      method: "POST",
      body: JSON.stringify(data),
      headers: {
        Accept: "application/json",
        "Content-Type": "application/json",
      },
    }).then((data) => {
      console.log(data);
      if (data.status === 200) {
        window.location.href = "/view/usergame";
      } else {
        alert("login failed");
      }
    });
  }
</script>
