<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%- include('partial/head'); %>
  </head>
  <body>
    <div class="container" style="margin-top: 200px">
      <div class="row">
        <div class="col-md-4 mx-auto">
          <div class="text-center">
            <h1>Welcome to UserGame API</h1>
            <p>This is a simple API for usergames.</p>
            <a class="btn btn-outline-primary" href="/login">Demo</a>
            <span class="mx-3"></span>
            <a class="btn btn-outline-success" href="/docs">Docs</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
